#store {
    height: 100vh;
    background-image: url("../../../public/assets/backgrounds/background_battle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.store_cards_box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.store_pack_cards {
    width: 7rem;
    box-shadow: 0 4px 0px 0px black;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.store_pack_button {
    background-color: #4A92F4;
    box-shadow: 0 4px 0px 0px black;
    border: 1px solid black;
    border-radius: 0.75rem;
    width: 12rem;
    height: 3rem;
    font-size: 22px;
}

/* ------------------ */

.store_pack_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    overflow-y: scroll;
    padding: 1rem;
    background-color: #3B3B3B;
    box-shadow: 0 4px 0px 0px black;
    border: 1px solid black;
    border-radius: 0.75rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

.store_pack_card {
    position: relative;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.store_pack_info {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;

    background-image: url("../../../public/assets/backgrounds/banner_store.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5.5rem;
}

.store_pack_info2 {
    position: absolute;
    top: 2.8rem;
    right: 0.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    background-image: url("../../../public/assets/backgrounds/banner_little.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
}

.store_pack_image {
    width: 8rem;
    height: auto;
    border-radius: 0.5rem;
}

.store_pack_card button {
    margin-top: 0.5rem;
    background-color: #d33d3d;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 0rem;
    left: 20%;
    box-shadow: 0 4px 0px 0px black;
    border: 1px solid black;
    border-radius: 0.5rem;
}