#battle {
    height: 100vh;
    background-image: url("../../../public/assets/backgrounds/background_battle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.battle_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.battle_option {
    width: 12rem;
    height: 2.8rem;
    border-radius: 0.5em 0 0 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 4px 0px 0px black;
    border: 1px solid black;
}

.battle_image {
    position: absolute;
    width: 32rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}